<H1> WELCOME TO CONTACTS </H1>

<ul>

	<% Contact.all.each do |contact| %>
	<li><%= contact.first_name %> <%= contact.last_name %> 
		<a href="/contacts/ <%= contact.id %> /edit">  Edit </a>
		<a href="/contacts/<%= contact.id %>">  Details  </a>
	</li>
	<% end %>


</ul>