<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">	
	<meta charset="UTF-8">
	<title>Document</title>

</head>
<body>
	<p> </p>

	<h1><%= @crm_app_name %></h1>
	<nav>
		<a href="/html/">ADD</a> | 
		<a href="/css/">CHANGE</a> |
		<a href="/js/">DISPLAY</a> |
		<a href="/jquery/">DELETE</a>
	</nav>

	<%= yield %>


<footer>
  <p>@Avinash Jham, 2016. Contact information: <a href="mailto:avinash@jham.com"> someone@example.com</a>.</p>
</footer>

</body>
</html>